.parts{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    margin-top:30px;
    margin-left: 7%;
    margin-right:7%;
    justify-content: center;
    justify-items: center;
}

.parts div{
    display: block;
    justify-items: center;
}

.parts div h4{
    margin-top:10px;
    font-family: "montserrat";
    font-size: 17px;
    text-align: center;
}
.partimg{
    border-radius: 50%;
    width:120px;
    height: 120px;
    border: 1px solid #1d4355;
}

.event{
    width:160px;
}


@media (max-width:750px){
    .partimg{
        width:60px;
        height: 60px;
    }

    .parts{
        margin-left: 2%;
        margin-right:2%;
    }
    .parts div h4{
        font-size: 12px;
    }
}