.parts-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  width: 100%;

  margin-top: 35px;
}

.scroll-button {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  padding: 8px;
}

.scroll-button.left {
  left: 10px;
  margin-right: 55px;
}

.scroll-button.right {
  right: 10px;
  margin-left: 55px;
}

.parts {
  display: flex;
  gap: 20px;
  overflow-x: scroll;
  scroll-behavior: smooth;
  justify-content: flex-start;
  width: 100%;
  padding: 10px 0;
}

.parts::-webkit-scrollbar {
  display: none;
}
.parts {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.parts div {
  flex: 0 0 150px;
  text-align: center;
}

.parts div h4 {
  margin-top: 10px;
  font-family: "Montserrat";
  font-size: 17px;
  color: #333;
  text-align: center;
}

.partimg {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  border: 1px solid #1d4355;
  display: block;
  margin: 0 auto;
}

@media (max-width: 750px) {
  .partimg {
    width: 60px;
    height: 60px;
  }

  .parts div h4 {
    font-size: 12px;
  }
}
